@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
}

/* Body */

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
    background-color: #5AB9EA;
    color: white;
}

.extra-section-hr {
    border: 5px solid white;
    margin-top: -10px;
    background-color: white;
    box-shadow: 2px 5px 0px 2px #000000;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/** TEXT **/
.indent {
    text-indent: 5%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sub-header {
    font-size: 2em;
}

.extra-header {
    font-size: 5em;
}

/** NAVIGATION BAR **/
nav {
    color: black;
    position: absolute;
    margin-top: 12px;
    width: 100%;
}

.nav-bar {
    background-color: #FFFFFF;
    width: 75%;
    border-radius: 50px;
    margin: auto;
    padding: 15px 25px;
    display: flex;
    box-shadow: 4px 5px 0px 8px #000000;
    
}
.nav-logo {
    margin: auto auto auto 0;
}

.nav-items {
    width: 80%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.nav-items ul{
    margin: auto 0 auto auto;
    display: flex;
    list-style: none;
}

.nav-list {
    float: right;
}

.nav-items li {
    padding-left: 50px;
}

/** HERO HEADER **/
.hero-header {
    min-height: 200px;
    background-color: #5AB9EA;
    padding-top: 3%;
    padding-bottom: 10px;
}

.title {
    margin-left: 10%;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000;
    display: block;
    width: 85%;
}

.welcome {
    padding-top: 65px;
    display: flex;
}

.header {
    font-size: 3em;
}

/** MAIN CONTAINER **/
.main-container {
    background-color: #5AB9EA;
    width: 80%;
    margin: auto;
}

.sectionHeader {
    text-align: center;
    background-color: #5AB9EA;
    padding: 5px;
}

.twoColumn {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.twoColumn h3 {
  text-align: center;
}
.twoColumn h3 a{
  color: #000000;
  text-decoration: none;
}


/** Profile **/
#about {
    display: flex;
    padding-bottom: 20px;
}

.about-desc {
    margin: 25px;
}
.profile-card {
    background-color: white;
    text-indent: 10px;
    color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    min-width: 33%;
    max-width: 500px;
}

.profile-desc {
    margin: auto;
}

.profile-stat {
    font-size: 1.1em;
}

.profile-stat p {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.profile-stat hr {
    border: 1px solid black;
    margin: 0;
}

/* Images */
.img-card {
    text-indent: 10px;
    color: black;
    border-radius: 10px;
    margin: auto auto 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.mobile-only {
        display: none;
}

.circle-img {
    border-radius: 50%;
    border: #ffffff;
    border-style: solid;
    border-width: 2px;
}

.thumb {
    max-height: 100%;
    max-width: 50%;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    padding: 10px 20px;
}

.footer-left {
    width: 50%;
    text-align: left;
    display: flex;
}

canvas {
    max-width: 100%;
}



@media (max-width: 900px) {
    .nav-items li {
        padding-left: 20px;
    }
    .extra-header {
        font-size: 3em;
    }
}

@media (max-width: 500px){
    .mobile-only {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .extra-header {
        font-size: 2em;
    }
    .menu-icon {
        width: 20px;
        cursor: pointer;
    }
}
