@charset "UTF-8";

/* Body */

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.twoColumn {
  width = 50%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
